@model IEnumerable<Projex___HBO_ICT_IT_Solutions.Models.Projects>

@{
    ViewData["Title"] = "Index";
}

<h1>Weergave Projecten</h1>
<p>Op deze pagina zijn de beschikbare projecten weergegeven.</p>

<p>
    <a asp-action="Create">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.projectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.projectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
